html {
	background:#80CCCC;
	}

header {
		text-align:center;
		color:#1F3131;
		font-size:150%;
}

body { 
		width:700px;
		margin:50px auto;
		background:white;
		color:Black;
		padding:20px; <D-r> 
		font-family:garamond, georgia, serif;
		border:1px solid;
		border-radius: 40px;
}
	#primary {
		width:70%;
		float:left;
	}
	#secondary {
		width:25%;
		float:right;
	}
	img { 
		border:1px solid;
		border-radius:10px;
		overflow: hidden; 
	}
	footer {
		display:block;
		clear:both;
		text-align:center;
		font-size:90%;
		font-style:italic;
	}

